.detailCtn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    height: 700px;

;
}

.detailBox{
    width: 50%;
    
    letter-spacing: 0.1rem;
    border: 1px solid rgba(47, 46, 48, 0.7);
    background-color: rgba(47, 46, 48, 0.7);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;    flex-direction: column;
    border-radius: 10px
}


.detailtop{
    display: flex;
    justify-content: left;
    padding: 1rem;
    margin: 0.5rem;
}

.countryH1{
    margin-left: 1rem;
    margin-top: 2rem;
    font-size: 2.5rem;
;
}

.detailImg{
    height: 100px;
    width: 100px;
}

.detailBottomText{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    line-height: 1.3rem;
  }
  .dataH3{
    font-size: 2rem;
    margin: 1rem;
  }
  .countryH3{
    font-weight: 300;
    padding: 0.3rem;
    font-size: 1.8rem;
  }

  .countryH3 span{display: flex;
    justify-content: space-around;
    font-size: 1.6rem;
    font-weight: 100;}

.populationClass{
    margin-bottom: 3rem;
}

.activitiCtn{
    width: 25%;
    margin-left: 1rem;
    padding: 1rem;
    letter-spacing: 0.1rem;
    border: 1px solid rgba(47, 46, 48, 0.7);
    background-color: rgba(47, 46, 48, 0.7);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;    flex-direction: column;
    border-radius: 10px
}

.activitiCtn > h1 {
font-size: 1.5rem;
padding: 1rem;
}




.activitiCard{
    margin: 1rem;

}

.activitiCard > h3{
  display: flex;
  justify-content: space-between;
}

.activitiCard > p{
    margin: 0.2rem;

}

.spanDetail{
    float: right;

}

.ldsDualRing {
    display: inline-block;
    width: 80px;
    height: 80px;
  }
  .ldsDualRing:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
  @keyframes ldsDualRing{
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  